# --------------------
# Python virtual env
# --------------------
venv/
.env/
.env.local

# --------------------
# Python cache files
# --------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# --------------------
# Pytest / test cache
# --------------------
.pytest_cache/
.coverage
htmlcov/

# --------------------
# IDE / Editor files
# --------------------
.vscode/
.idea/
*.swp

# --------------------
# OS files
# --------------------
.DS_Store
Thumbs.db

# --------------------
# Logs
# --------------------
*.log

# --------------------
# Docker
# --------------------
*.env