!*.tf      
!terraform.tfvars  

.fuse*
*.terraform

# Terraform working directory
.terraform/
.terraform.lock.hcl

# Terraform state files
*.tfstate
*.tfstate.*

# Crash logs
crash.log
crash.*.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI configuration files
.terraformrc
terraform.rc

*.tfvars
*.tfvars.json

# Plan files
*.tfplan

# Sensitive backup files
*.bak

# OS / editor files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
